body {
    background-color: #262525;
    color: #e5e5e5;
    margin-top: 1%;
    justify-content: center;
}

h1 {
    text-align: center;
}

#footnote {
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
}

#UI {
    margin-left: 10%;
    margin-right: 10%;
}
